{% extends 'base.html.twig' %}

{% block body %}
    <div class="section no-pad-bot template" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center  orange-text text-darken-3">Rent a car</h1>
            <div class="row center">
                <h5 class="header col s12 light">Location de voitures</h5>
            </div>
            <div class="row center">
                {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_index_add') }}" class="btn-large waves-effect waves-light orange darken-3"><i class="material-icons">add_circle</i>Ajout</a>
                {% endif %}
                <a href="{{ path('app_search_searchcar') }}" class="btn-large waves-effect waves-light orange darken-3"><i class="material-icons">search</i>Recherche avancée</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_admin') }}" class="btn-large waves-effect waves-light orange darken-3"><i class="material-icons">lock</i>Admin</a>
                {% endif %}
                <a href="{{ path('app_security_registrationform') }}" class="btn-large waves-effect waves-light orange darken-3"><i class="material-icons">lock</i>Inscription</a>
                <a href="{{ path('app_login') }}" class="btn-large waves-effect waves-light orange darken-3"><i class="material-icons">lock</i>Inscription</a>
            </div>
            <br><br>

        </div>
    </div>

    <div class="container">
        <!--   Icon Section   -->
        <div class="row center">
            <h2>voitures disponibles:</h2>
                <ul class="center">
                    {% for car in cars %}
                        <li>
                            <h3>
                                <a href="{{ path('app_index_show', {'id': car.id}) }}">{{ car.model }}</a>
                                <a href="{{ path('app_index_edit', {'id': car.id}) }}">Modifier</a>
                            </h3>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}