<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    {% block title %}<title>Materialize Starter template</title>{% endblock %}

    <!-- CSS  -->
    {% block stylesheet %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon (7).ico" type="image/x-icon">
    <link rel="icon" href="favicon (7).ico" type="image/x-icon">
    {% endblock %}
</head>
<body>
<style>
    .fa{
        color:#ef6c00;
    }
</style>

{% block nav %}
<nav class="orange darken-2">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('app_index_add') }}">Ajout</a></li>
            <li><a href="#">Show</a></li>
            <li><a href="{{ path('app_index_contact') }}">Contact</a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{{ path('app_index_add') }}">Ajout</a></li>
            <li><a href="#">Show</a></li>
            <li><a href="{{ path('app_index_contact') }}">Contact</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block flash_messages %}
    {% for message in app.flashes('success') %}
        <div class="card-panel teal lighten-2">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="card-panel red darken-3">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
<footer class="page-footer">


    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright
        </div>
    </div>
</footer>
{% endblock %}


<!--  Scripts-->

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}
</body>
</html>
